  .message{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 0, 0);
    min-height: 400px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    button{
      width: 10rem;
      height: 3rem;
      border-radius: 2rem;
      align-items: center;
      font-size: 1.5rem;
      color: rgb(255, 0, 0);
      font-weight: bolder;
      cursor: pointer;
    }
  }
